<div class="row">
<div class="col-md-3">

<h3><%= @place.name %></h3>
<p><strong>Address </strong><%= @place.address %></p>
<p><strong>Phone </strong><%= @place.phone %></p>
<p><strong>Website </strong><%= @place.website %></p>
<div id="map" style="width: 230px; height: 230px "></div>

    <script>
      function initMap() {
        var uluru = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
</div>
<div class="col-md-9">
<h3>Reviews</h3>

<% if current_user %>
<h5>New Review</h5>
<%= render "reviews/form" %>
<% end %>
<h5>Reviews</h5>
<%= render @reviews %>
</div>
</div>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
